on:
  workflow_dispatch:
  push:
    branches: [main, develop]
    paths:
      - 'backend/**' # Ne se déclenche que si frontend change
  pull_request:
    branches: [main]
    paths:
      - 'backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    # Important : définir le répertoire de travail
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: './backend/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Compile Smartcontracts
        run: npx hardhat compile

      - name: Running test
        run: npx hardhat test --coverage
